:root{
    --text-primary :white;
}
*{
    
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to left, #A8A8A8,#808080,#575757,#333333);
}

h1{
    font-size: 36px;
}

